{% extends "base.html" %}
{% block title%}contact{% endblock %}
{% block content%}
<h1>Contact Us</h1>
<hr>
<table class="table table-sm table-dark table-primary">
    <thead>
      <tr class="table-primary">
        <th scope="col">#</th>
        <th scope="col">Department</th>
        <th scope="col">Contact Number</th>
        
      </tr>
    </thead>
    <tbody>
      <tr class="table-secondary">
        <th scope="row">1</th>
        <td>MAIN LINES
        </td>
        <td>0484 2880002</td>
      </tr>
      <tr class="table-danger">
        <th scope="row">2</th>
        <td>APPOINTMENTS</td>
        <td>3547892081</td>
      </tr>
      <tr class="table-success">
        <th scope="row">3</th>
        <td>HR DEPARTMENT</td>
        <td>3547392081</td>
      </tr>
      <tr class="table-info">
        <th scope="row">4</th>
        <td>PHARMACY PURCHASE</td>
        <td>0484 67452081</td>
      </tr>
      <tr class="table-light">
        <th scope="row">5</th>
        <td>MARKETING</td>
        <td>0484 5158852</td>
      </tr>
    </tbody>
  </table>
  <div class="mapouter"><div class="gmap_canvas"><iframe class="gmap_iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=University of Oxford&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://gachanymph.com/">Gacha Nymph</a></div><style>.mapouter{position:relative;text-align:right;width:600px;height:400px;}.gmap_canvas {overflow:hidden;background:none!important;width:600px;height:400px;}.gmap_iframe {width:600px!important;height:400px!important;}</style></div>
  
{% endblock %}